body {
  margin: 5;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  font-size: 2.5rem;
  color: white;
  letter-spacing: 0.277em;
  font-weight: 300;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header {
  min-height: 100vh;
  display: grid;
  place-items: center;
}...
.......
